<p><b>Current formation</b></p>
<% case @team.formation %>
  <% when 1 %>
    <img src="/images/formation_1.png"/>
  <% when 2 %>
    <img src="/images/formation_2.png"/>
  <% when 3 %>
    <img src="/images/formation_3.png"/>
  <% when 4 %>
    <img src="/images/formation_4.png"/>
<% end %>

