<% if @user.team %>
  <% if current_user.battle %>
    <%= battle_button("Already in battle") %>
  <% else %>
    <%= link_to "Queue for match", queue_path(@user) %>
  <% end %>
<% else %>
 <p>You have no teams, create one here!</p>
 <%= link_to "Create Team", new_team_path %>
<% end %>

