<div class="back-row">
  <div class="back-row-formation-3 two-char-row">
    <%= battle_character(3, team) %>
  </div>
  <div class="back-row-formation-3">
    <%= battle_character(4, team) %>
  </div>
</div>

