<div class="back-row">
  <div class="back-row-formation-4">
    <div class="battle-character">
      <% if team.get_char(2).active %>
        <%= render :partial => "characters/battle_character", :locals => { :character => team.get_char(2) } %>
      <% else %>
        Knocked out.
      <% end %>
    </div>
  </div>
  <div class="back-row-formation-4">
    <div class="battle-character">
      <% if team.get_char(3).active %>
        <%= render :partial => "characters/battle_character", :locals => { :character => team.get_char(3) } %>
      <% else %>
        Knocked out.
      <% end %>
    </div>
  </div>
  <div class="back-row-formation-4">
    <div class="battle-character">
      <% if team.get_char(4).active %>
        <%= render :partial => "characters/battle_character", :locals => { :character => team.get_char(4) } %>
      <% else %>
        Knocked out.
      <% end %>
    </div>
  </div>
</div>

