<div class="back-row">
  <div class="back-row-formation-4">
    <%= battle_character(2, team) %>
  </div>
  <div class="back-row-formation-4">
    <%= battle_character(3, team) %>
  </div>
  <div class="back-row-formation-4">
    <%= battle_character(4, team) %>
  </div>
</div>

