<div class="front-row two-char-row">
  <div class="front-row-formation-4">
    <%= battle_character(0, team) %>
  </div>
  <div class="front-row-formation-4">
    <%= battle_character(1, team) %>
  </div>
</div>

