<div class="front-row">
  <div class="front-row-formation-3">
    <%= battle_character(0, team) %>
  </div>
  <div class="front-row-formation-3">
    <%= battle_character(1, team) %>
  </div>
  <div class="front-row-formation-3">
   <%= battle_character(2, team) %>
  </div>
</div>

