<script type="text/javascript">
  setInterval(
  function(){
    $.ajax({
      type: "GET",
      url: '/battle_syncs/refresh_waiting_status/',
      success: function(data) {
        if(data == 'true')
          window.location.reload()
      },
      dataType: 'text'
    });
  },
  3000
  );
</script>

<h2>Waiting for opponent to finish..</h2>

<%= link_to "Refresh", waiting_for_turn_path %>

