#battle-teams{
    border-radius: 10px;
}

#opponent-team{
    width: auto;
    overflow:hidden;
    height:1%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#home-team{
    overflow:hidden;
    height:1%;
    border-radius: 10px;
}

#home-team-actions{
    float: left;
    margin-right: 50px;
}

#turn-events{
    float: left;
}

.section-header{
    width: 905px;
}

.battle-character{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    min-height: 60px;
    margin: 0px auto;
}

.front-row{
    float: left;
    min-width: 890px;
    padding: 10px;
}

.back-row{
    float: left;
    min-width: 890px;
    padding: 10px;
}

.two-char-row{
    margin-left: 16%;
}

.front-row-formation-1{
    float: left;
    width: 20%;
}

.front-row-formation-2{
    float: left;
    width: 25%;
}

.back-row-formation-2{
    float: left;
    width: 100%;
}

.front-row-formation-3{
    float: left;
    width: 33%;
}

.back-row-formation-3{
    float: left;
    width: 33%;
}

.front-row-formation-4{
    float: left;
    width: 33%;
}

.back-row-formation-4{
    float: left;
    width: 33%;
}

