@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(1.0,1.0); /* Firefox */
    }
    50% {
        -moz-transform: scale(1.2,1.2); /* Firefox */
    }
    100% {
        -moz-transform: scale(1.0,1.0); /* Firefox */
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1.0,1.0);
    }
    50% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.0,1.0);
    }
}

@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(1.0,1.0);
    }
    50% {
        -ms-transform: scale(1.2,1.2);
    }
    100% {
        -ms-transform: scale(1.0,1.0);
    }
}

.skill-select{
    width: 150px;
}

.skill-button-container{
    margin-left: 4px;
    margin-bottom: 4px;
}

.battle-character.highlighted{
    border-color: #CD2626;
}

.skill-button-container.selected{
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: pulsate;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;

    -ms-animation-name: pulsate;
    -ms-animation-duration: 0.5s;
    -ms-animation-timing-function: ease-in;
    -ms-animation-iteration-count: infinite;
}

.team-character{
    overflow:hidden;
    height:1%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 140px;
}

#battle-teams{
    border-radius: 10px;
    margin-bottom: 10px;
}

#opponent-team{
    width: auto;
    overflow:hidden;
    height:1%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#home-team{
    overflow:hidden;
    height:1%;
    border-radius: 10px;
}

#home-team-actions{
    float: left;
}

#turn-events{
    float: left;
    width: 886px;
    padding: 10px;
    border-radius: 10px;
}

#battle-final-events{
    float: left;
    width: 449px;
    padding: 10px;
    border-radius: 10px;
}

#battle-gain{
    float: left;
    width: 349px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

#waiting-for-turn-timer{
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    width: 206px;
    height: 18px;
}

.section-header{
    width: 905px;
}

.battle-character{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    min-height: 60px;
    margin: 0px auto;
}

.battle-character.disabled{
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3)
}

.battle-character.knocked-out{
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3)
}

.battle-character.non-existant{
    visibility: hidden;
}

.battle-character.legal-target{
    box-shadow:0px 0px 20px #0F0;
}

.battle-character.slight-penalty-target{
    box-shadow:0px 0px 20px #FF8C00;
}

.battle-character.severe-penalty-target{
    box-shadow:0px 0px 20px #FF0000;
}

.front-row{
    float: left;
    min-width: 865px;
    padding: 10px;
}

.back-row{
    float: left;
    min-width: 865px;
    padding: 10px;
}

.two-char-row{
    margin-left: 16%;
}

.front-row-formation-1{
    float: left;
    width: 20%;
}

.front-row-formation-2{
    float: left;
    width: 25%;
}

.back-row-formation-2{
    float: left;
    width: 100%;
}

.front-row-formation-3{
    float: left;
    width: 33%;
}

.back-row-formation-3{
    float: left;
    width: 33%;
}

.front-row-formation-4{
    float: left;
    width: 33%;
}

.back-row-formation-4{
    float: left;
    width: 33%;
}

