#character-stats {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 450px;
}

.discipline-progress{
    width: 120px;
    height: 15px;
    margin-bottom: 0px;
}

.skill-highlighted{
    color: red;
    font-weight: bold;
}

#character-stats-and-navigation{
    width: 200px;
    margin-right: 100px;
}

.character-navigation{
    width: 200px;
    padding: 10px;
}

#character-equipment {
    width: 500px;
}

#character-equipment-top {
    width: 500px;
    min-height: 150px;
}

#character-equipment select {
    width: 150px;
}

#character-equipment-middle {
    width: 500px;
    position: relative;
    min-height: 150px;
}

#character-equipment-bottom {
    width: 500px;
    min-height: 150px;
}

#character-equipment-head {
    width: 150px;
    margin: 0px auto;
}

#character-equipment-weapon {
    width: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#character-equipment-chest {
    width: 150px;
    margin: 0px auto;
}

#character-equipment-shield {
    width: 150px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#character-equipment-legs {
    width: 150px;
    margin: 0px auto;
}

.skill-selector{
    width: 200px;
}

.target-selector{
    width: 150px;
}

