.red{
    color: red;
}

.green{
    color: green;
}

.separator{
    height: 50px;
    width: 940px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}

#top-content{
    height: 85px;
    padding-left: 10px;
    padding-right: 10px;
}

#team-info{
    margin-top: 10px;
}

.main-content {
    margin-left: 20px;
}

#all-content{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

