.interactable{
  color: #0088cc;
  cursor: default;
}

body{
    background-color: #fff;
}

.devise-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.bright-background{
    background-color: rgba(255, 255, 255, 0.5);
}

.separator-vertical{
    height: 50px;
    width: 940px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}

#top-content{
    height: 121px;
    padding-left: 10px;
    padding-right: 10px;
    background-image:url('/images/background-main-part.png');
    background-repeat:repeat-y;
    margin-bottom: 10px;
}

.title-text{
    margin-top: 15px;
}

#team-info{
    margin-top: 10px;
}

#top-background-top{
    position: absolute;
    top: 0px;
    height: 6px;
    width: 940px;
    background-image:url('/images/background-border-top.png');
}

#top-background-bottom{
    position: absolute;
    top: 115px;
    height: 6px;
    width: 940px;
    background-image:url('/images/background-border-bottom.png');
}

#main-background-top{
    position: absolute;
    background-image:url('/images/background-border-top.png');
    height: 6px;
    width: 940px;
    top: 125px;
}

#main-background-bottom{
    background-image:url('/images/background-border-bottom.png');
    height: 6px;
    width: 940px;
}

.main-content-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    background-image:url('/images/background-main-part-light.png');
    background-repeat:repeat-y;
    min-height: 700px;
    overflow: hidden;
}

#all-content{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.navbar a{
    font-size: 17px;
    color: #eee;
    text-shadow: 2px 2px 0.1em #222;
}

.navbar span{
    font-size: 14px;
    cursor: default;
    color: #333;
}

.navbar-choice{
    margin-right: 7px;
    margin-left: 7px;
}

.navbar{
    margin-bottom: 0px;
    margin-left: 7px;
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 0.3em #000, 2px 2px 0.3em #000;
}

.navbar-content{
    width: 910px;
 }

.content-header {
    width: 940px;
}

.content-box{
    border-radius: 10px;
    padding: 10px;
}

