.interactable{
  color: #0088cc;
  cursor: default;
}

body{
    background-color: grey;
}

.devise-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.bright-background{
    background-color: rgba(255, 255, 255, 0.5);
}

.separator-vertical{
    height: 50px;
    width: 940px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}

#top-content{
    height: 110px;
    padding-left: 10px;
    padding-right: 10px;
    background-image:url('/images/background-top.png');
    background-repeat:repeat-y;
    border: 2px solid;
}

.title-text{
    margin-top: 10px;
}

#team-info{
    margin-top: 10px;
}

.main-content-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    background-image:url('/images/background-main.png');
    background-repeat:repeat-y;
    min-height: 700px;
    border: 2px solid;
    overflow: hidden;
}

#all-content{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 910px;
}

.navbar a{
    font-size: 15px;
}

.navbar-choice{
    margin-right: 15px;
}

.content-header {
    width: 940px;
}

