.rankings-team-td{
    width: 200px;
    text-align: left;
}

.rankings-rating-td{
    width: 50px;
    text-align: left;
}

#rankings-table{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

#monster-table{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
}

