.smithy-btn-container {
    //margin-bottom: 10px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
}

#smithy-tab-content{
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}

#smithy-item-view {
    width: 440px;
    height: 200px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

#smithy-messages {
    width: 940px;
}

.buy-item-button{
    display: none;
    margin-left: 5px;
}

.item-button, .weapon-class {
  color: #0088cc;
  cursor: default;
}

.item-button:hover {
  color: #0088cc;
  text-decoration: none;
  cursor: default;
}

.smithy-tab{
    font-size: 15px;
    font-weight: bold;
}

.smithy-item-separator{
    width: 400px;
    height: 2px;
    background: #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.smithy-cost{
    font-size: inherit;
}

