.position-number{
    position: absolute;
    width: 100px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    line-height: 120px;
    font-size: 160px;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}

.edit-team-character{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    min-height: 60px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

#team-char-list {
    margin-right: 100px;
    width: 550px;
}

.character-stats-column{
    width: 130px;
}

.character-skills-column{
    width: 180px;
}

.character-gear-column{
    width: 210px;
}

.create-character-stats-column{
    width: 200px;
}

.create-character-skills-column{
    width: 240px;
}

.create-character-header{
    width: 505px;
    height: 30px;
}

.edit-stat{
    font-size: 16px;
    width: 170px;
    margin-bottom: 10px;
}

.edit-skill{
    font-size: 16px;
    width: 220px;
    margin-bottom: 10px;
}

.stat-label, .skill-label{
    margin-right: 5px;
}

.increase-stat-button, .increase-skill-button{
    margin-right: 2px;
}

.edit-stat .btn, .edit-skill .btn{
    line-height: 7px;
    width: 5px;
}

.character-info, .create-character{
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 10px;
    width: 525px;
}

.equipment-info{
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#edit-formation{
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#team-formation{
    height: 190px;
}

#position-select{
    width: 240px;
    padding: 10px;
    border-radius: 10px;
}

#edit-character-names{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

#destroy-team{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

#choose-team-name{
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#characters-table{
    width: 545px;
}

.delete-error{
    margin-left: 10px;
}

