.edit-team-character{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    min-height: 60px;
    margin: 0px auto;
}

#team-char-list {
    margin-right: 100px;
    width: 550px;
}

.character-stats-column, .character-skills-column{
    width: 160px;
}

.character-gear-column{
    width: 220px;
}

.character-info{
    margin-bottom: 7px;
    padding-left: 5px;
    border-radius: 10px;
}

.equipment-info{
    margin-bottom: 7px;
    padding-left: 5px;
    border-radius: 10px;
}

#formation-select{
    height: 250px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#team-formation{
    height: 190px;
}

#position-select{
    width: 240px;
    padding: 10px;
    border-radius: 10px;
}

#edit-character-names{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

